<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(prods.length > 0) { %> 
            <h1>Total Price: 0</h1>
            <table border="1">
                <thead>
                    <th>ID</th>
                    <th>Quantity</th>
                    <th>Delete</th>
                </thead>
                <tbody>
                    <% prods.forEach(p => { %>
                        <tr> 
                            <td><%= p.productId.title %></td>
                            <td><%= p.quantity %></td>
                            <td>
                                <form action="/cart-delete-item" method="POST">
                                    <button type="submit" class="btn">Delete</button>
                                    <input type="hidden" name="productId" value="<%= p.productId._id %>"/>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
                <hr/>
                <div class="center">
                    <form action="/create-order" method="POST">
                        <button type="submit" class="btn">Checkout</button>
                    </form>
                </div>
        <% } else { %> 
            <h1>No Products in cart</h1> 
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>